.main-nav.sticky {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}
.empty {
  height: 50px;
  margin-bottom: 30px;
}

.hyphens-list{
    padding: 0;
}
.hyphens-list li{
    list-style: none;
}
.hyphens-list li::before{
    content: "- "
}

.caption-main {
    display: inline-block;
    background: #d22121;
    margin-bottom: 5px;
    padding: 5px 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.text-justify {
  text-align: justify;
}
